/* 全体的なスタイル */
.contact__content {
  width: 80%; /* 必要に応じて調整 */
  margin: 20px auto;
}

.contact__heading {
  text-align: center;
  margin-bottom: 20px;
}

/* 検索エリア */
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.contact-search input, .contact-search select {
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #E3DED9;
  background: #F4F4F4;
  color: #8B7969;
}

.search-form button,
.search-form__reset-button a{
  padding: 8px 15px;
  background-color: #8B7969; /* 緑 */
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

/* エクスポートボタンとページネーション */
.contact-parts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.export__button-submit {
  background-color: #E1DBD699; /* 青 */
  color: #8B7969;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* テーブル */
.contact-table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
}

.contact-table__inner {
  width: 100%;
  table-layout: fixed;
  padding: 0 auto;
}


.contact-table__header, .contact-table__item {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.contact-table__header {
  background-color: #8B7969;
  color: white;
  font-size: 20px;
  font-family: "Inika", serif;
}

.contact-table__item {
  color: #8B7969;
  font-size: 20px;
  font-family: "Inika", serif;
}

.contact-table__detail-button {
  background-color: #E1DBD699;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

.contact-table__item:last-child {
  text-align: right;
}

*:popover-open {
  position: relative;
  padding: 1rem;
  border: 1px solid #8B7969;
  text-align: left;
  min-width: 300px;
  width: 80%;
  color: #8B7969;
}
*::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

button {
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  width: auto;
  overflow: visible;
  background: transparent;
}
.open-button {
  padding: 0.5rem 1rem;
  border: solid #D9C6B599 1px;
  color: #D9C6B5;
  background: #F4F4F44D;
}

.close-button {
  background: white;
  position: absolute;
  right: 0;
  top: 0;
}

.modal-overlay {
  display: none; /* 初期状態では非表示 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent; /* 半透明の背景 */
  z-index: -1; /* モーダルウィンドウよりも手前に表示 */
}

*:popover-open .modal-overlay {
  display: block; /* モーダルウィンドウが開いているときは表示 */
}

#my-popover-{{ $contact->id }} table th {
  width: 30%;
}


/* * {
    border: 1px solid red;
} */

.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
  }
  
  .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #8B7969;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
  }
  
  .page-link:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
  }
  
  .page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  
  .page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  
  .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #8B7969;
    border-color: #8B7969;
  }
  
  .page-item.disabled .page-link {
    color: #8B7969;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
  }
  
  .pagination-lg .page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
  .pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }
  
  .pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
  
  .pagination-sm .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
  }
  
  .pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
  }
  
  .pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
  }
  