.register__content {
    margin: 0 auto;
    padding: 30px 15px;

    background: #F1ECE7;
    height: 100vh;
}

.register-form__heading {
    margin-bottom: 20px;
    text-align: center;
}

.form {
    margin: 0 auto;
    padding: 50px 100px;
    width: 736px;
    text-align: center;
    border: 2px solid #C5B9B0;
    border-radius: 10px;
    background: #FFF;
}

.form__group {
    margin-bottom: 5px;
}

.form__group-title {
    text-align: left;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 25px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    background: #F4F4F4;
    appearance: none;
    font-size: 14px;
}

.form__button {
    margin-top: 50px;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    background: #82756A;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
}

.login__link {
    margin-top: 20px;
    text-align: center;
}
